html {
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  color: rgb(6, 102, 147);
  text-align: center;
  background-color: rgba(211, 189, 62, 0.123);
  height: 2.8em;
}
#head {
  font-size: 0.8em;
}
main {
  margin: 50em;
  margin-top: 5em;
  margin-bottom: 5em;
}
p {
  font-size: 1.2rem;
}
hr {
  border-top: 1px solid rgb(255, 200, 0);
}
h1 {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}
h2 {
  font-weight: 8bold00;
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3em;
  font-weight: 8bold00;
}
video.focaccia {
  border-radius: 8px;
  width: 50em;
  display: block;
  box-shadow: 5px 5px #88888837;
}
img.logo {
  width: 15em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#imgtxt {
  position: relative;
  transform: translateX(18em);
  color: rgb(162, 162, 162);
}

.feature {
  color: rgb(234, 5, 5);
  font-size: 1em;
}
div.feature {
  border-left: 2px solid rgb(255, 176, 18);
}
div.line {
  border-top: 1px solid rgb(48, 95, 239);
}
a.feature {
  color: rgb(38, 150, 255);
}

footer {
  margin: 50em;
  margin-top: 5em;
  margin-bottom: 5em;
}
